.header {
  padding: 20px 128px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 28px;
}

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.loginWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerLink {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  padding: 14px 0;
  border: none;
  background-color: #fff;
}

.headerLinkRight {
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background-color: #121417;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

span {
  font-style: italic;
  font-weight: 400;
  background-color: #fbe9ba;
}

.nav a,
.nav a:visited {
  text-decoration: none;
}

.link {
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffdc86;
}

.active {
  color: #f4c550;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.btnClos {
  border-radius: 8px;
  padding: 3px 28px;
  background-color: #121417;
  border: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #ffffff;
}
