.blockTeachers {
  width: 100%;
  height: 100%;
  padding: 96px 128px;
  background-color: #f8f8f8;
}

.filterBlock {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.teachersTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
  margin-bottom: 8px;
}

.border {
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 16px 14px 16px 18px;
  width: 221px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 111%;
  color: #121417;

  /* ВІДСТУПИ СТРІЛОК */
  padding-right: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /*  стрілкa SVG */
  background: url("/icons/chevron-down.svg") no-repeat right 14px center;
  background-color: #fff;
  background-size: 20px 20px;
}

.btn {
  display: flex;
  justify-content: center;
}

.loadMore {
  border-radius: 12px;
  padding: 16px 48px;
  height: 60px;
  background-color: #f4c550;
  border: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
}

.loadMore:hover,
.loadMore:focus {
  background-color: #ffdc86;
  color: #ffffff;
}
